@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 12px;
    background-color: rgb(238, 236, 236);
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

.topmost-container {
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.topmost-container > span {
    width: 350px;
}

.right-top-most-container {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 150px;
}

.topmost-container span a {
    font-size: 1.2em;
    text-decoration: none;
    color: grey;
    text-align: center;
}

.topmost-container span a:hover {
    color: orange;
    font-weight: bold;
}

.topmost-container > span a {
    color: orange;
}

.topmost-container > span a:hover {
    text-decoration: underline;
    font-weight: bold;
}

.right-top-most-container > span {
    margin-right: 10px;
    text-transform: uppercase;
}

.right-top-most-container > img {
    width: 100px;
    margin-right: 10px;
}

/* Nav in header Container with input */

nav {
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 100px;
    box-shadow: 0 2px 2px rgba(65, 64, 64, 0.2);
    position: sticky;
    top: 0;
    z-index: 1;    
}

nav img {
    width: 150px;
}

.suggestion {
    position:relative;
}

.suggestion input[type] {
    padding: 7px;
    font-size: 1.2em;
    width: 500px;
    height: 40px;
    margin-left: 50px;
    border: 2px solid orange;
    border-radius: 50px 0 0 50px;
}

.suggestion button {
    padding: 7px;
    border: 2px solid orange;
    border-radius: 0 50px 50px 0;
    background-color: orange;
    color: white;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    right: -130px;   
    height: 40px;
    width: 150px;
}

.suggestion button:hover {
    background-color: rgb(202, 133, 3);
    border: 2px solid rgb(202, 133, 3);
}

nav > ul {
    list-style-type: none;    
    display: flex;
    margin-left: 150px;
}

nav > ul li {
    margin-left: 20px;
    font-weight: bold;
    font-size: 1.3em;
}

nav > ul li:hover {
    color: orange;
    cursor: pointer;
}

.icons {
    display: flex;
    align-items: center;
}

.me {
    font-size: 1.1em;
    margin-right: 5px;
}

.body-background-image {
    width: 100%;
    background-image: url(myimages/shop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px
}

.body-background-deco {
    margin-top: 10px;
    width: 100%;
    height: 40px;
    background: orange;
}

main {
    position: relative;
}

.main-content1 {
    position: absolute;
    top: 30px;
    width: 100%;
}

.main-content {
    background: linear-gradient(rgba(255, 255, 255, 95%), #fff);
    box-shadow: -2px 2px 3px rgba(77, 76, 76, 0.2);
    max-width: 1000px;
    width: 60%;
    border-radius: 7px;
    margin-left: 100px;  
}

.cart-item-container, .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cart-item-container {
    padding: 10px 20px;
    margin: 10px 10px;
    border-bottom: 1px solid rgb(189, 187, 187);
    justify-content: flex-start;
}

.main-content h1 {
    padding: 10px 20px;
    border-bottom: 1px solid rgb(189, 187, 187);
}

.cart-image {
    background: grey;
    width: 90px;
    height: 100px;
    overflow: hidden;
    border-radius: 5px;
}

.cart-image img {
    width: 100px;
}

.cart-item {
    width: 80%;
    padding: 5px 0 5px 20px; 
    position: relative; 
}

.cart-item-description {
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
}

.cart-item-description span {
    margin-top: 5px;
    color: grey;
}

.cart-item-description button {
    margin-top: 5px;
    padding: 5px;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    background-color: rgb(245, 210, 146);
    color: rgb(145, 102, 24);
    width: 100px;
    cursor: pointer;
}

.cart-item-description button:hover {
    background-color: orange;
    color: white;
}

.price-area {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.price-area h3 {
    font-weight: normal;
    font-size: 1.3em;
}

.price-area p {
    font-size: 1.7em;
    font-weight: bold;
    margin-top: 5px;
}

.Naira {
    text-decoration: line-through;
}

.increment-container{
   margin-top: 15px;
   display: flex;
   align-items: center;
}

.decrement, .increment {
    display: inline-block;
    padding: 3px;
    width: 30px;
    height: 30px;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    background-color: orange;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(65, 64, 64, 0.2);
    cursor: pointer;
}

.decrement:hover, .increment:hover {
    background: rgb(202, 133, 3);
}

.quantity-change {
    margin: 0 10px;
    font-size: 1.5em;
}

.add-favorites{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    position: absolute;
    bottom: 5px;
    left: 140px;
}

.hearts {
    font-size: 2em;
    color: rgb(245, 210, 146);
    cursor: pointer;
}

.heartsfull {
    color: orange;
}

.hearts:hover {
    font-size: 2.3em;
}

aside {
    position: absolute;
    right: 100px;
    top: 30px;
    
}

.aside {
    padding: 10px 0;
    background-color: white;
    width: 300px;
    border-radius: 5px;
}

.aside > h3, .aside p {
    padding: 5px 15px;    
    font-size: 1.2em;
}

.aside > h3 {
    text-transform: uppercase;
    border-bottom: 1px solid grey;
    font-weight: normal;
}

.total-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid grey;
}

.aside p {
    margin: 5px 0;
}

.total-container p:last-of-type {
    font-size: 1.5em;
    font-weight: bold;
}

.total-price-btn {
    width: 200px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    background-color: orange;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(94, 92, 92, 0.4);
    cursor: pointer;
    margin-top: 10px;
}

.total-price-btn:hover {
    background-color: rgb(202, 133, 3);
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.users-suggestions {
    margin-top: 30px;
}

.users-suggestions h3, .users-suggestions p:first-of-type {
    color: grey;
}

.users-suggestions p:first-of-type {
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

footer {
    width: 100%;
    padding: 20px;
    background-color: rgb(53, 53, 53);
    color: white;
    margin-top: 20px;
    text-align: center;
    font-size: 1.5em;
    border-top: 2px solid orange;
}

footer p {
    text-transform: uppercase;
    opacity: 30%;
    margin-bottom: 5px;
}

footer label {
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

footer input[type], footer button {
    padding: 12px 20px;
    border-radius: 5px;
    border: 1px solid white;
    margin: 5px 0 20px 0;
}

footer input[type] {
    color: grey;
}

footer button {
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgb(53, 53, 53);
    color: white;
    cursor: pointer;
}

footer button:hover {
    color: orange;
    border: 1px solid orange;
}